*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --marineBlue: #02295a;
    --purplishBlue: hsl(243, 100%, 62%);
    --pastelBlue: hsl(228, 100%, 84%);
    --lightBlue: hsl(206, 94%, 87%);
    --strawberryRed: hsl(354, 84%, 57%);
    --coolGray: hsl(231, 11%, 63%);
    --lightGray: #d6d9e6;
    --magnolia: #f0f6ff;
    --alabaster: #fafbff;
    --white: hsl(0, 0%, 100%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--magnolia);
    font-family: "Ubuntu", serif;
}
.con{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 70%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}
.objOne{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 30%;
    border-radius: 15px 0 0 15px;
    background: white;
}
.objOne img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
/* ====================================== */

  ol li {
    padding: 20px 0;            
    margin: 5px 0; 
  }
  ol {
    position: absolute;
    counter-reset: item; 
    list-style: none; 
    font-size: 15px;
    padding-left: 20px;
    padding-top: 30px;
  }
  a{
    text-decoration: none;
    color: white
  }
  li {
    position: relative;
    display: block;
    margin: .5em 0 .5em 2.5em;
    width: 100%;
    letter-spacing: 2px;
    outline: none;
    color: white;
    border-radius: .3em; 
  }
  li::before {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -3.5em;
    top: 50%;
    margin-top: -1.3em;
    height: 2.6em;
    width: 2.6em;
    line-height: 2em;
    background: transparent;
    border: .1em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out; /* Make the number bold */
  }

  /* Style the first list item's number */
  li:nth-child(1)::before {
    color: #444; 
    background: #87ceeb;
  }
  /* ------------------------------------- */
  ol li:hover::before{
    background: #87ceeb;
    color: #444; 
  }
  ol li a p.step{
    opacity: 0.6;
    font-size: 12px;
  }
/* ========================================= */
/* OBJECT ONE */
.objTwo{
    position: relative;
    padding: 50px 50px 5px 50px;
    width: 70%;
    border-radius: 0 15px 15px 0;
    background: var(--white)
}
.objTwo form{
    width: 100%;
    height: 100%;
}
.objTwo .pInfo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.objTwo .pInfo button.meInfo{
  position: absolute;
  align-self: flex-end;
  margin-top: 100%;
  cursor: pointer;
  transition: 0.4s;
  color: var(--white);
  background: var(--marineBlue);
  font-family: "Ubuntu", serif;
}
.objTwo .pInfo button.meInfo:hover{
  background: var(--purplishBlue);
}
.objTwo .pInfo input{
    display: block;
}
.objTwo .sPlan{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.objTwo .sPlan p.mePlan,
.objTwo .pAddon p.mePlan{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.objTwo .sPlan .sPlanCon{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  /* background: green; */
}
.objTwo .sPlan .sPlanCon > div{
  padding: 20px;
  width: 31%;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  background: var(--white);
  cursor: pointer;
}
.objTwo .sPlan .sPlanCon .arcade{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.objTwo .sPlan .sPlanCon .arcade input[type="radio"],
.objTwo .sPlan .sPlanCon .advanced input[type="radio"],
.objTwo .sPlan .sPlanCon .pro input[type="radio"]{
  display: none;
}
.objTwo .sPlan .sPlanCon .arcade:hover,
.objTwo .sPlan .sPlanCon .advanced:hover,
.objTwo .sPlan .sPlanCon .pro:hover{
  border-color: var(--marineBlue);
  background: var(--magnolia);
}
.objTwo .sPlan .sPlanCon .arcade p.bonus,
.objTwo .sPlan .sPlanCon .advanced p.bonus,
.objTwo .sPlan .sPlanCon .pro p.bonus{
  display: none;
}
.objTwo .sPlan .sPlanCon .arcade p.name,
.objTwo .sPlan .sPlanCon .advanced p.name,
.objTwo .sPlan .sPlanCon .pro p.name{
  margin-top:40px;
  margin-bottom: 5px;
  font-weight: 600;
}
.objTwo .sPlan .sPlanCon .arcade p.price,
.objTwo .sPlan .sPlanCon .advanced p.price,
.objTwo .sPlan .sPlanCon .pro p.price{
  color: var(--coolGray);
}
.objTwo .sPlan .days{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  background: var(--magnolia);
}
.objTwo .sPlan .days > span,
.objTwo .sPlan .days > div{
  margin: 5px 10px 5px 10px;
}
.objTwo .sPlan .days > div{
  background: var(--marineBlue);
}
.objTwo .sPlan .days .dot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 15px;
}
.objTwo .sPlan .days .dot > div{
  opacity: 0;
  height: 15px;
  opacity: 0.7s ease;
  background: var(--white);
}
.objTwo .sPlan .days .dot #dotOne,
.objTwo .sPlan .days .dot #dotTwo{
  width: 15px;
  border-radius: 50%;
}
.objTwo .sPlan .days .dot #dotThree{
  width: 5px;
  border-radius: none;
}
.objTwo .sPlan .days .dot .active{
  opacity: 1;
}
.objTwo .sPlan .mybuttons,
.objTwo .pAddon .mybuttons{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.4s;
  margin-top: 103%;
}
.objTwo .sPlan .mybuttons button.meInfo,
.objTwo .pAddon .mybuttons button.meInfo,
.objTwo .finishup .mybuttons2 button.meInfo{
  padding: 10px 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Ubuntu", serif;
  color: var(--white);
  background: var(--marineBlue);
}
.objTwo .sPlan .mybuttons button.meInfo:hover,
.objTwo .pAddon .mybuttons button.meInfo:hover,
.objTwo .finishup .mybuttons2 button.meInfo:hover{
  background: var(--purplishBlue);
}
.objTwo .sPlan .mybuttons button.meInfoBack,
.objTwo .pAddon .mybuttons button.meInfoBack,
.objTwo .finishup .mybuttons2 button.meInfoBack{
  padding: 10px 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: var(--coolGray);
  background: var(--white);
}
.objTwo .sPlan .mybuttons button.meInfoBack:hover,
.objTwo .pAddon .mybuttons button.meInfoBack:hover,
.objTwo .finishup .mybuttons2 button.meInfoBack:hover{
  color: var(--marineBlue)
}
.objTwo .sPlan,
.objTwo .pAddon,
.objTwo .finishup,
.objTwo .success{
    display: none;
}
.objTwo form .pInfo h3,
.objTwo form .sPlan h3,
.objTwo form .pAddon h3,
.objTwo form .finishup h3{
  font-size: 2.5rem;
}
.objTwo form .pInfo p.meInfo,
.objTwo form .finishup p.meInfo{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.objTwo form .pInfo input{
  padding: 13px 13px 13px 15px;
  margin: 5px 0 20px 0;
  width: 100%;
  border: 2px solid var(--lightGray);
  border-radius: 8px;
  outline: none;
}
.objTwo form .pInfo button{
  padding: 10px 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: var(--lightBlue);
}
/* --------------PAddon---------------------- */
.objTwo .pAddon{
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background: red; */
}
.objTwo .pContainer{
  width: 100%;
  background: white;
}
.objTwo .pContainer > div{
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}
.objTwo .pContainer .onService{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  background: var(--white);
}
.objTwo .pContainer .onService:hover{
  border: 1px solid var(--marineBlue);
  background: var(--alabaster);
}
.objTwo .pContainer .onService input.boxService,
.objTwo .pContainer .onService input.boxStorage,
.objTwo .pContainer .onService input.boxProfile{
  display: none;
}
.objTwo .pContainer .onService label.myCheckBox{
  position: relative;
  margin-top: 7px;
  margin-left: 20px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}
.objTwo .pContainer .onService label.myCheckBox::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--lightGray);
  border-radius: 4px;
  background-color: white;
}
.objTwo .pContainer .onService input[type="checkbox"]:checked + label::before{
  background: var(--purplishBlue); 
}
.objTwo .pContainer .onService input[type="checkbox"]:checked + label::after{
  content: '\2714'; 
  position: absolute;
  left: 4px;
  top: -2px;
  font-size: 18px;
  color: white;
}
.objTwo .pContainer .onService div.pickOns{
  width: 70%;
}
.objTwo .pContainer .onService p.pickTitle{
  margin-bottom: 5px;
  font-weight: 600;
}
.objTwo .pContainer .onService p.pickInfo{
  color: var(--coolGray)
}
.objTwo .pContainer .onService p.month{
  margin-top: 10px;
}
.objTwo .finishup .doubleCheck{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: var(--magnolia);
}
.objTwo .finishup .info1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  width: 100%;
}
.objTwo .finishup .info1 p.total{
  padding-left: 8% ;
}
.objTwo .finishup .info1 p.amount{
  padding-right: 4.7% ;
}
.objTwo .finishup .doubleCheck table{
  width: 95%;
  height: auto;
  border-collapse: collapse;
}
.objTwo .finishup .doubleCheck table tr#online,
.objTwo .finishup .doubleCheck table tr#storage,
.objTwo .finishup .doubleCheck table tr#profile{
  /* visibility: hidden; */
}
.objTwo .finishup .doubleCheck table td.a{
  padding: 20px;
}
.objTwo .finishup .doubleCheck table tr.z{
  border-bottom: 1px solid var(--lightGray);
}
.objTwo .finishup .doubleCheck table td.aa{
  padding: 10px 20px 5px 20px;
}
.objTwo .finishup .doubleCheck table td.b{
  text-align: right;
}
.objTwo .finishup .mybuttons2{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30%;
  width: 100%;
  background: white
}
.objTwo .finishup{
  position: relative;
  height: 100%;
  /* background: red; */
}
.objTwo .success{
  margin-top: 10%;
  text-align: center;
  padding: 25px;
  /* background: green; */
}
.objTwo .success > h3,
.objTwo .success > p,
.objTwo .success > button{
  margin: 20px;
}
.objTwo .success h3{
  font-size: 2rem;
}
